block variables
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description", content="Play ipv8, a resource management game played by writing our own AI.")
    meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
    link(rel="icon", href="/favicon.png")
    link(rel="stylesheet", href="/main.css")
    title Ipv8 - #{title}
    block scripts
  body(class="background-color: linear-gradient(83deg, rgba(255,246,230,1) 0%, rgba(255,247,235,1) 25%, rgba(255,251,245,1) 50%, rgba(255,247,235,1) 75%, rgba(255,246,230,1) 100%)")
    div.container.mx-auto.my-2.py-3
      div.flex.flex-row.justify-left.gap-6.mb-12
        h1.text-2xl.font-bold Ipv8
        div.grow.flex.flex-row-reverse.gap-6#loginbar
          - var navs = [['Viewer', '/index.html'], ['Getting Started', '/start.html']]
          each navlink in navs 
            include navlink.pug

      block content
